body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    color: #00ff04;
  }
  
  .scouter {
    margin-top: 51px;
    position: relative;
  }
  
  .scouter-image {
    width: 900px;
    height: 405px;
  }
  
  #display {
    position: absolute;
    top: 250px;
    right: 521px;
    font-size: 48px;
    font-weight: bold;
    color: #e6f301;
  }
  
  #scanBtn {
    position: absolute;
    top: 500px;
    right: 450px;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    background-color: #3cff00;
    color: #ffea00;
    cursor: pointer;
  }
  